@model List<Role>

<div class="row">
    @await Html.PartialAsync("AdminMenu")
    <div class="col-9">
        <h3>Admin Roles</h3>
        <a asp-controller="Role" asp-action="Add">Add new role</a>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Role name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].Name</td>
                    <td>
                        <a asp-area="Admin" asp-controller="Role" asp-action="Remove" asp-route-roleName="@Model[i].Name"
                           class="btn btn-danger" role="button" type="submit">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>
