<div class="col-3">
    <div class="row">
        <a asp-controller="Admin" asp-action="Orders">Orders</a>
    </div>
    <div class="row">
        <a asp-controller="Admin" asp-action="Users">Users</a>
    </div>
    <div class="row">
        <a asp-controller="Admin" asp-action="Roles">Roles</a>
    </div>
    <div class="row">
        <a asp-controller="Admin" asp-action="Products">Products</a>
    </div>
</div>
